@import "tailwindcss";

@theme {
  --grid-template-columns-app: minmax(18rem, 20rem) 1fr;
  --grid-template-columns-profile: max-content 1fr min-content;

  /* Brand scale */
  --color-brand-0: #fbf6f3;
  --color-brand-50: #f4ebe6;
  --color-brand-100: #ead8cf;
  --color-brand-200: #d9bfb1;
  --color-brand-300: #c4a292;
  --color-brand-400: #a67f6b;
  --color-brand-500: #8b6654;
  --color-brand-600: #6f4e3f;
  --color-brand-700: #563a2f;
  --color-brand-800: #472f26;
  --color-brand-900: #3a261e; /* novo menu bg */
}
